body {
    margin: 0;
    padding: 0;
    color: #caca86;
    color: #bdbdb3;
}

p {
    margin: .5em 0;
}

body,
input {
    font-family: 'Roboto Mono', monospace;
}

input[type='text'] {
    border: 3px solid #ab85a3;
    border-radius: 2px;
    line-height: 2em;
    min-width: 65%;
    padding: .2em 2em;
    font-size: 15pt;
    background: #dadada;
}

table {
    width: 100%;
    height: 100%;
    overflow: auto;
}

tbody tr.clickable {
    cursor: pointer;
    vertical-align: top;
}

tbody tr.clickable:hover {
    background: #005f5f;
}

.margin1 {
    margin: .5em;
    padding: .5em;
}

.container_1 {
    padding: .5em;
    text-transform: uppercase;
}

.r-viewing { padding: 0 1em; }
.r-name { color: #caca86; }
.a-title { color: #008787; }
.a-address,
.r-address { color: #857575; }
.a-credits,
.r-hood { color: #8d6552; }
.r-active-view-c {
    background-color: #596f50;
    background-color: #005f5f;
    opacity: .8;
    border-radius: 3px;
    overflow: auto;
    margin-bottom: 1em;
}


.rtd thead tr, .atd thead tr {
    cursor: pointer;
    background: #555;
    opacity: .7;
    color: #fff;
}

.rtd thead td:hover,
.atd thead td:hover {
    background: #6a7a7a;
}

.margin1.list-view {
    border-bottom: 3px solid #af5f5f;
    max-height: 330px;
    overflow: auto;
}

.container_1.list-view {
    border-bottom: 3px solid #af5f5f;
    _max-height: 350px;
    overflow: hidden;
}

.workspace {
    border-left: 3px solid #af5f5f;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
}

#settings-open,
#settings-close {
    color: #706565;
    cursor: pointer;
    position: absolute;
    margin: .5em;
    right: 0;
    top: 0;
}

.nothing-found {
    color: #5f8787;
    margin: 0 2em;
    text-align: right;
}

.list-views {
    max-height: 375px;
    overflow-y: scroll;
}

.r-active-view {
    color: #ddd;
    background: #005f5f;
}

.r-active-view tbody tr {
    background-color: #af5f5f;
    cursor: default;
}

.r-active-view td {
    padding: .2em 1em;
}

.top { top: 0; }

.bottom { bottom: 0; }

.top.banner, #settings {
    border-bottom: 1px solid #d7d787;
    position: relative;
}

.workspace .toolbar {
    padding: 1em 0;
    margin: 1em 0;
    width: 90%;
    margin: 0 auto;
}

#app {
    width: 100%;
    background-color: rgba(41,51,51, .9);
}

#map {
    position: relative;
    height: 100%;
}